# MongoDB
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGODB_DB=orders
MONGODB_URI=mongodb://localhost:27017

# Order Service
ORDER_SERVICE_PORT=3001

# BFF
BFF_PORT=3000
ORDER_SERVICE_URL=http://localhost:3001

# Frontend
VITE_BFF_URL=http://localhost:3000
