# MongoDB
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=changeme

# AWS / LocalStack
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566

# LocalStack
LOCALSTACK_AUTH_TOKEN=

# SNS / SQS ARNs & URLs (auto-created by localstack/init/01-create-resources.sh)
SNS_ORDER_EVENTS_ARN=arn:aws:sns:us-east-1:000000000000:order-events
SQS_INVENTORY_QUEUE_URL=http://localhost:4566/000000000000/inventory-queue
SQS_NOTIFICATION_QUEUE_URL=http://localhost:4566/000000000000/notification-queue

# Service ports
ORDER_SERVICE_PORT=3001
INVENTORY_SERVICE_PORT=3002
NOTIFICATION_SERVICE_PORT=3003
BFF_PORT=3000

# BFF downstream
ORDER_SERVICE_URL=http://localhost:3001

# Frontend
VITE_BFF_URL=http://localhost:3000
