apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  namespace: poc
type: Opaque
stringData:
  MONGO_ROOT_USER: root
  MONGO_ROOT_PASSWORD: changeme
  MONGODB_URI: mongodb://root:changeme@mongodb:27017
